.feedback {
  padding: 0 50px;
  &__single {
    display: flex;
  }
  &__all{
    margin-top: 60px;
  }
  &__single{
    margin-bottom: 60px;
  }
  &__img{
    display: block;
    width: 170px;
    height: 170px;
  }
  &__content{
    padding-left: 61px;
  }
  &__name {
    font-weight: 700;
    font-size: 18px;
    color: #0d0d0d;
  }
  &__nameDescr {
    font-weight: 500;
    font-size: 14px;
    color: #646464;
    margin-bottom: 10px;
  }
  &__descr {
    font-weight: 300;
    font-size: 16px;
    color: #0d0d0d;
  }
}
